@import url(normalise.css);
@import url(root.css);


/* martian-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/martian-mono-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/martian-mono-v3-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/martian-mono-v3-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/martian-mono-v3-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: flex;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  /* font-family: 'Martian Mono'; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header{
  background-image: url(../images/Vector\ \(5\).png);
  background-repeat: no-repeat;


}

.nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 8rem;
  margin-top: 3.2rem;
}
.navimg {
}
.navtext {
}
.nav-h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26.24px;
  letter-spacing: -0.06em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.club {

}
.club-df {
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.club-left {
}
.text {
}
.club-text-h1 {
  /* font-family: 'Martian Mono'; */
  font-size: 72px;
  background:  linear-gradient(107.24deg, #FEA36F -11.37%, #062630 61.84%);
  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 350px;
  font-size: 62px;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 2.4rem;
  
}
.club-text-p {

  width: 500px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 3.2rem;
}
.club-a {
  display: inline-block;
}

.club-a a{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 20px 20px 20px 24px ; 
  border-radius: 15px;
  border: 2px solid #062630;
  margin-bottom: 2rem;
  font-family: Martian Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  letter-spacing: -1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--clubaclor);
  background-color: var(--clubabacroundcolor);
}

.club-a a:hover{
  background: linear-gradient(30deg, #FFE2D1 50%, #FFF5EF 50%);
}
.club-img {
}
.club-imgs{
  width: 536px;
  height: 606px;
  object-fit: cover;
  border-radius: 20px;
}
.club-star {
  display: flex;
}
.club-p {
  
}
.club-pp {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 0.5rem;
  
}

.clubimg-df{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.read {
  background-color: var(--oq);
}
.read-df {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12rem;
}
.read-right {
}
.read-img {
}
.read-left {
}
.read-lefth2 {
  width: 500px;
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 3.2rem;
  
}
.read-h2 {
}
.read-left-arrov-p {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
.arrov {
  padding: 4.8px 5.4px;
  border: 2px solid var(--bordercolor);
  border-radius: 5px;
  display: inline-block;  
}
.h5textss {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.book {
}
.book-df {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12rem;
}
.book-left {
}
.book-left span{
  background-image: url(../images/path158.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.book-h2 {
  width: 534px;
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.book-p {
  margin-top: 2.4rem;
  width: 440px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  
}
.book-right {
}

.book-position{
  position: absolute;
  bottom: -137rem;
  left: 64rem;
}

.tech {
  background-image: url(../images/Vector\ \(5\).png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}
.tech-text {
}
.tech-h2 {
  margin-bottom: 4rem;
  padding-top: 8rem;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.cards {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 8rem;
}
.tech-card {
}
.raqam {
}
.strelka-imgss {
}
.strelka-img {
}
.raqamlar {
  border: 2px solid var(--bordercolor);
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: inline-block;
}


.card-df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-p {
  margin-top: 3rem;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.custom-text {
}
.custom-text-h2 {
  margin-top: 12rem;
  margin-bottom: 6.4rem;
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.custom-cards {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: center;
  margin-bottom: 12rem;
}
.custom-card {
  border: 2px solid var(--cardbordercolor)  ;
  padding: 24px;
  border-radius: 10px;
}
.custum-card-h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26.4px;
  letter-spacing: -1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.custom-card-h2-h5-df {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.custum-card-h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 44.2px;
  letter-spacing: -1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.custom-card-h5 {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.custom-card-hr {
  margin-bottom: 2.4rem;
  width: 238px;
  margin-top: 2.4rem;
}
.cheked-p-df {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1.6rem;
}
.chekked-img {
  border: 2px solid var(--bordercolor);
  padding: 3.38px 4.57px;
  border-radius: 5px;
}
.custom-card-p {
}
.custom-card-a {
  padding: 20px 43px;
  border: 2px solid var(--bordercolor);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  letter-spacing: -1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--bordercolor);
  background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%); 
}

.custom-card-a:hover{
  /* background: linear-gradient(deg, #385159 30%, #062630 60%); */
}

.pro{
  width: 350px;
  height: 390px;
  background-color: #FAF5F3;
}

.procard{
  margin-top: 3.2rem;
  padding: 20px 75px;
}

.customcard{
  padding: 13px 60px;
}

.for-star {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.for-text {
}
.for-texth3 {
  width: 680px;
  font-size: 34px;
  font-weight: 600;
  line-height: 44.2px;
  letter-spacing: -1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0 auto;
  
}
.fot-text-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 12rem;
  margin-top: 3.2rem;
}

.footer{
  background-color: #062630;
}

.footer-text {
}
.footer-textt {
}
.footer-h2 {
  margin-top: 8rem;
  margin-bottom: 4rem;
  color: var(--oq);
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.footer-a {
  color: var(--oq);
  align-items: center;
  gap: 1.6rem;
  padding: 15px 20px;
  border: 2px solid var(--oq);
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  letter-spacing: -1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-card-a:hover{
  background: linear-gradient(30deg, #FFE2D1 50%, #FFF5EF 50%);


}

.img-a-df{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-df {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-bottom: 6.4rem;
  gap: 1.2rem;
  margin-top: 2.4rem;
}
.footerimg {
}
.foooter-text {
  /* display: flex; */
  align-items: center;
}
.footer-star {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.footer--p {
  color: var(--oq);
  margin-top: 0.4rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.footer-hr{
  margin: 0 auto;
  width: 1170px;
  background-color: #062630;
}

.footer-dff {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-left {
}
.footer-left-p {
  color: var(--oq);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: -1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.footer-right {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.footer-aaaa{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--oq);
  padding: 20px 24px;
  gap: 0.6rem;
  border: 2px solid var(--oq);
  width: 380px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  margin: 0 auto;
  letter-spacing: -1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-aaaa:hover{
  background: linear-gradient(90deg, #385159 0%, #062630 100%);

}

.cards{
  padding-bottom: 8rem;
}